{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="row mt-5 justify-content-md-center">
        <div class="col-md-6">
            <form method="post">
                <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
                {% if message != "" %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endif %}
                {{ form|crispy }}
                {% csrf_token %}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
