crispy-bootstrap5>=0.6
Django>=4.0.0
django-environ>=0.8.0
gunicorn>=20.1.0
openpyxl>=3.0.9
pingouin>=0.5.1
pip-tools>=6.5.1
prince>=0.7.1
researchpy>=0.3.2
urllib3>=1.26.9
virtualenv>=20.13.4
virtualenv-clone>=0.5.7
xlrd>=2.0.1
XlsxWriter>=3.0.3
