{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
        <h3>Cramer</h3>
        <div>
                <a href="{% url 'file' folder='cramer' filename='cramer' extension='svg' %}"><img src="{% url 'file' folder='cramer' filename='cramer' extension='svg' %}" alt="Matrice"></a>
        </div>
        <h4 class="mt-5">Données</h4>
        <div class="container row">
                <a href="{% url 'file' folder='cramer' filename='cramer' extension='xlsx' %}">Télécharger le fichier de données</a>
        </div>
</div>
{% endblock content %}