{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
        <h3>Distribution</h3>
        {% load static %}
        <div>
                <img src="{% url 'file' folder='distribution' filename='bars' extension='svg' %}" alt="Graphe en tuyaux d'orgue">
        </div>
        <div>
                <img src="{% url 'file' folder='distribution' filename='pie' extension='svg' %}" alt="Graphe en camembert">
        </div>
        <div>
                <a href="{% url 'file' folder='distribution' filename='distribution' extension='xlsx' %}">Télécharger le fichier de données</a>
        </div>
</div>
{% endblock content %}