{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
        <h3>Distribution</h3>
        <div>
                <a href="{% url 'file' folder=folder filename='bars' extension='svg' %}"><img src="{% url 'file' folder=folder filename='bars' extension='svg' %}" alt="Graphe en tuyaux d'orgue"></a>
        </div>
        <div>
                <a href="{% url 'file' folder=folder filename='pie' extension='svg' %}"><img src="{% url 'file' folder=folder filename='pie' extension='svg' %}" alt="Graphe en camembert"></a>
        </div>
        <h4 class="mt-5">Données</h4>
        <div class="container row">
                <a href="{% url 'file' folder=folder filename='distribution' extension='xlsx' %}">Télécharger le fichier de données</a>
        </div>
</div>
{% endblock content %}