{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mettre à jour les données</h5>
                    <p class="card-text">Permet de charger les nouvelles données à partir du fichier excel original.</p>
                    <a class="btn btn-primary" href="{% url 'download_liste_modifiee' %}">Télécharger liste modifiée</a>
                    <a class="btn btn-primary" href="{% url 'export' %}">Mettre à jour</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Distribution</h5>
                    <p class="card-text">Permet d'afficher un graphe de distribution pour une variable qualitative.</p>
                    <a class="btn btn-primary" href="{% url 'distribution' %}">Distribution</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cramer</h5>
                    <p class="card-text"></p>
                    <a class="btn btn-primary" href="{% url 'cramer' %}">Cramer</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Chi2</h5>
                    <p class="card-text"></p>
                    <a class="btn btn-primary" href="{% url 'chi2' %}">Chi2</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Anova</h5>
                    <p class="card-text"></p>
                    <a class="btn btn-primary" href="{% url 'anova' %}">Anova</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Evolution espèces</h5>
                    <p class="card-text"></p>
                    <a class="btn btn-primary" href="{% url 'nb_species_evolution' %}">Evolution espèces</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Statistiques</h5>
                    <p class="card-text">
                        <strong>Nombre d'observations</strong>: {{ nb_obs }}<br/>
                        <strong>Nombre d'espèces</strong>: {{ nb_species }}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Erreurs</h5>
                        {% if errors|length >= 1 %}
                            {% for error in errors %}
                                <p class="card-text">
                                {% if error.0 != None %}
                                    <strong>Ligne</strong>: {{ error.0 }}<br/>
                                {% endif %}
                                    <strong>Espèce</strong>: <i>{{ error.1 }}</i><br/>
                                    <strong>Type d'erreur</strong>: {{ error.2 }}
                                </p>
                            {% endfor %}
                        {% else %}
                            <p class="card-text">
                                Pas d'erreurs détectées...
                            </p>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}