{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
        <h3>Rapport annuel</h3>
        <form method="post">
            <div class="mt-5 col-md-6">
                <label for="year" class="form-label">Année du rapport</label>
                <select name="year" id="year" class="form-select" aria-label="year select">
                    {% for year in years %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            {% csrf_token %}
            <div class="mt-5">
                <input type="submit" class="btn btn-primary" name="submit" value="Créer le rapport" />
            </div>
        </form>
</div>
{% endblock content %}