{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
        <h3>Espèces</h3>
        <table class="table table-striped">
                <thead>
                <tr>
                        <th scope="col">Espèce</th>
                        <th scope="col">Espèce actuelle</th>
                        <th scope="col">Liste rouge</th>
                        <th scope="col">Fréquence</th>
                        <th scope="col">Menace</th>
                </tr>
                </thead>
                <tbody>
                {% for species in species_list %}
                <tr>
                        {% if species.10 != None %}
                        <td><a href="https://www.wsl.ch/map_fungi/search?taxon={{ species.10|floatformat:0 }}"><i>{{ species.0 }}</i></a> {{ species.1 }}</td>
                        {% else %}
                        <td><i>{{ species.0 }}</i> {{ species.1 }}</td>
                        {% endif %}

                        {% if species.0 != species.3 %}
                        <td><i>{{ species.3 }}</i> {{ species.4 }}</td>
                        {% else %}
                        <td></td>
                        {% endif %}

                        <td>{{ species.6 }}</td>

                        {% if species.8 != None %}
                        <td>{{ species.8 }}</td>
                        {% else %}
                        <td></td>
                        {% endif %}

                        <td>{{ species.9 }}</td>
                </tr>
                {% endfor %}
                </tbody>
        </table>
</div>
{% endblock content %}